<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DapperExampleDb" providerName="System.Data.SqlClient" connectionString="data source=.\SqlExpress;initial catalog=DapperExampleDb; Integrated Security=true;MultipleActiveResultSets=True;" />
  </connectionStrings>
</configuration>